SPECTRUMCLAW_ENV=local
SPECTRUMCLAW_LLM_PROVIDER=openai_compatible
SPECTRUMCLAW_LLM_BASE_URL=
SPECTRUMCLAW_LLM_API_KEY=
SPECTRUMCLAW_LLM_MODEL=
SPECTRUMCLAW_PROJECT_ROOT=/home/lenovo/workspace/SpectrumClaw
SPECTRUMCLAW_KB_ZIP=/home/lenovo/workspace/SpectrumClaw/itu_documents.zip
